# {{ ansible_managed }}

ssl_certificate /etc/letsencrypt/live/{{ awx.domain }}/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/{{ awx.domain }}/privkey.pem;
ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

ssl_protocols TLSv1.2 TLSv1.3;
ssl_prefer_server_ciphers on; 
ssl_ciphers EECDH+AESGCM:EDH+AESGCM;
ssl_ecdh_curve secp384r1;
ssl_session_timeout  10m;
ssl_session_cache shared:SSL:10m;
ssl_session_tickets off;
ssl_stapling on;
ssl_stapling_verify on;